section{
    display: grid;
    /* margin-top: 50px; */
    grid-template-columns: 75% 25%;
    grid-auto-rows: auto;
    margin: 50px 150px;
    color: #132a13;
    gap: 40px;
}

section h2, h3{
    color: #0c0e4d;
    margin: 15px 0;
    font-family: 'Kanit', sans-serif;
}

section .date{
    font-size: 12px;
    margin: 0 0 4px 0;
    line-height: 15px;
}

.text{
    margin: 15px 0;
}

.borderText{
    border: 1px dotted ;
}

.borderText .text{
    padding: 10px;
}

section ul, section ol{
    margin-left: 50px;
}

section .btn button{
    border-radius: 30px;
    padding: 10px 20px;
    /* color: #fff;
    background-color: #B1B2FF; */
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    border: 2px solid #3F4450;
    margin: 10px 8px 10px 0;
    transition: backgroun-color 0.5s ease;
}

.btn a{
    text-decoration: none;
}

a:hover, a:active{
    color: #EEF1FF;
}
section .btn button:hover{
    background-color: #B1B2FF;
    color: #EEF1FF;
}

section aside .archives{
    margin: 60px 0;
}

section aside a{
    display: block;
    color: #132a13;
    text-decoration: none;
}